NODE_ENVIRONMENT=""
HTTP_PORT=""
AWS_REGION=""
AWS_BUCKET=""
AWS_ACCESS_KEY=""
AWS_ACCESS_SECRET=""
KAFKA_HOST=""
KAFKA_PORT=""
KAFKA_CA_CERT=""
ACCESS_KEY=""
ACCESS_CERT=""
KAFKA_CLIENT_ID=""
KAFKA_CONSUMER_ID=""
GRAFANA_LOKI_URL=""
REDIS_HOST=""
REDIS_PORT=""
REDIS_STREAM_KEY=""
REDIS_STREAM_GROUPNAME=""
REDIS_STREAM_CONSUMER_ID=""