name: Video Transcoder CI

on:
  push:
    paths:
      - "apps/video-transcoder/**"
      - "libs/**"
      - ".github/workflows/video-transcoder-service.yml"
      - "package.json"
      - "yarn.lock"
      - "jest.config.json"
      - "eslint.config.js"
      - "nest-cli.json"
      - "tsconfig.json"
      - "tsconfig.build.json"
  pull_request:
    paths:
      - "apps/video-transcoder/**"
      - "libs/**"
      - ".github/workflows/video-transcoder-service.yml"
      - "package.json"
      - "yarn.lock"
      - "jest.config.json"
      - "eslint.config.js"
      - "nest-cli.json"
      - "tsconfig.json"
      - "tsconfig.build.json"

jobs:
  video-transcoder-pipeline:
    uses: ./.github/workflows/template-ci.yml
    with:
      service-name: "video-transcoder"
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
